<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<title>Content Security Policy</title>
		<script nonce=<%=nonce%> src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
        <p> Hello <%- name %>! </p>


        <img onerror="console.log('this is from img tag on error')" src=x>


		<script nonce=<%=nonce%> src="scripts/logger.js"></script>
		<script nonce=<%=nonce%>>
            console.log('This is from the inline script tag')
		</script>
	</body>
</html>


